body{
    background-color: #ffffff;
    font-family: Helvetica;
}
header{
    display: flex;
    background-color: #383839;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #383839;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.nav-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}
#header-img{
    width: 20px;
}